body{
	box-sizing: border-box;
}

.App{
	background-color: #3f3f3f;
	min-height: 100vh;
}
  
  .win{
	color:green
  }

  .loose{
	color: red;
  }

  .tie{
	color: orange;
  }


  .position-btn {
	width: 33.333333%;
	height: 100px;
	max-width: 140px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 12px;
	font-weight: 700;
	font-size: 20px;;
	transition: all 0.2s ease-in-out;
	border-radius: 6px;
  }
  .position-btn .chip {
	  width: 35px;
	  height: 35px;
	background-color: white;
	border-radius: 50%;
	border: 4px solid #0f55d6;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	padding: 22px;
	color: #000;
	margin-top: 8px;
	font-size: 16px;
  }
  .position-btn:hover .chip {
    border: 4px solid #000;
}
  .position-btn .empty-chip {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	padding: 20px;
  }
  .position-btn.rock {
	background-color: #051c48;
	color: #0f55d6;
	border: 2px solid #0f55d6;
  }
  .position-btn.rock:hover {
	background-color: #0f55d6;
	border: 2px solid #000;
  }
  .position-btn.paper {
	background-color: #0b311b;
	color: #208b3f;
	outline-color: #208b3f;
  }
  .position-btn.paper:hover {
	background-color: #208b3f;
	border: 2px solid #000;
  }
  .position-btn.scissors {
	background-color: #50091e;
	color: #d1133d;
	outline-color: #d1133d;
  }
  .position-btn.scissors:hover {
	background-color: #d1133d;
	border: 2px solid #000;
  }
  .position-btn:hover {
	color: #000;
  }

  .primary-btn {
	background-color: #000;
	color: #99815b;
	font-weight: 500;
	border: 2px solid #99815b;
	font-size: 18px;
	padding: 16px 32px;
	border-radius: 40px;
	min-width: 140px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	margin-top: 10px;
  }
  .primary-btn:hover {
	background-color: #99815b;
	color: #000;
	border-color: #99815b;
  }
  .primary-btn:disabled {
	background-color: #000;
	color: rgba(177, 131, 72, 0.3);
	border-color: rgba(177, 131, 72, 0.3);
  }

  .secondary-btn {
	background-color: #000;
	color: #99815b;
	font-weight: 500;
	border: 2px solid #99815b;
	font-size: 16px;
	padding: 4px 8px;
	border-radius: 40px;
	min-width: 140px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	margin-top: 10px;
  }
  .secondary-btn:hover {
	background-color: #99815b;
	color: #000;
	border-color: #99815b;
  }

  .game-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 400px;
	margin-top: 10px;
	font-size: 30px;
   }
   
   @media (min-width: 768px) {
	.game-container {
	   min-height: 500px;
	}
   }
   
   @media (min-width: 992px) {
	.game-container {
	   min-height: 500px;
	}
   }
   
   @media (min-width: 1200px) {
	.game-container {
	   min-height: 500px;
	}
   }

   .position-container{
	display: flex;
	justify-content: space-evenly;
	gap: 10px;
	margin-top: 10px;
   }

   .column-center{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
   }

   .text-highlight{
	color: #99815b;
   }
   .text-white{
	color: #eee;
   }