.box {
	width: 100px;
	height: 100px;
	border: 1px solid #ccc;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px;
	cursor: pointer;
  }
  
  .selected {
	background-color: lightblue; /* or any other style to indicate selection */
  }

  .disabled {
	cursor: not-allowed;
  }

  .table-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 400px;
	border-color: gray !important;
	border-width: 1px;
	border-style: solid;
	border-radius: 10px;
  }
  
  .circular-table {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 2px solid #000;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
  }
  
  .chip-img {
	width: 40px;
	height: 40px;
	position: absolute;
  }
  
  .buttons-container {
	display: flex;
	gap: 10px;
	margin-top: 10px;
  }
  
  .balance-info {
	margin-top: 10px;
  }
  
  .win{
	color:green
  }

  .loose{
	color: red;
  }

  .tie{
	color: orange;
  }